main {
    border: 1px solid black;
}

.wrapper {
    display: block;
    width: 800px;
    font-size: 0; /*remove whitespaces for display inline-block*/
}

    .row1 {
        height: 200px;
    }

    .row2 {
        height: 300px;
    }

        .col {
            display: inline-block;
            height: 100%;
        }

        .row1 .col {
            width: 50%;
        }

        .row2 .col {
            width: 33.33%;
        }
        .row1 .col1{

            background-color: green;

        }
        .row1 .col2{

            background-color: blue;

        }
        .row2 .col1{

            background-color: grey;

        }
        .row2 .col2{

            background-color: black;

        }
        .row2 .col3{

            background-color: orange;

        }
