nav {
    padding: 10px;
    background-color: grey;
    width: 100%;
    border: 1px solid black;
    height: 70px;
}

img {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 25px;
    vertical-align: middle;
}

ul {
    list-style: none;
    text-align: left;
    display: inline-block;
    padding: 0;
    margin-left: 20px;
    
}

li {
    display: inline-block;
    border-right: 1px solid black;
    padding: 0 5px;
}
